<div class="flex items-center justify-center gap-4">
        <a href="https://github.com/rndrmu/faculty-bot" target="_blank" class="text-sm text-gray-400 hover:text-gray-200 transition">
        <i class="fab fa-github mr-2"></i> contribute on github
    </a>
        <a href="/setup" class="text-sm text-gray-400 hover:text-gray-200 transition">
        <i class="fas fa-info-circle mr-2"></i> setup guide
    </a>
    
    <a href="https://x.com/rndrmu" target="_blank" class="text-sm text-gray-400 hover:text-gray-200 transition">
        <i class="fab fa-x-twitter mr-2"></i> twitter
    </a>
    <a href="https://rndrmu.moe" target="_blank" class="text-sm text-gray-400 hover:text-gray-200 transition">
        <i class="fas fa-globe mr-2"></i> blog
    </a>
    <a href="https://rndrmu.bsky.social" target="_blank" class="text-sm text-gray-400 hover:text-gray-200 transition">
        <i class="fab fa-bluesky mr-2"></i> bluesky
    </a>
</div>